################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Rightpoint.Peeps.*/bin
/Rightpoint.Peeps.*/obj

*.suo
*.resw
/Rightpoint.Peeps.Api/Properties/PublishProfiles
/.vs
