################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Rightpoint.Peeps.Sync/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rightpoint.Peeps.Sync/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rightpoint.Peeps.Sync/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rightpoint.Peeps.Sync/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rightpoint.Peeps.Sync/obj/Debug
/Rightpoint.Peeps.Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rightpoint.Peeps.Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rightpoint.Peeps.Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rightpoint.Peeps.Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rightpoint.Peeps.Server/obj/Debug
/Rightpoint.Peeps.Server/bin/Newtonsoft.Json.dll
/Rightpoint.Peeps.Server/bin/Microsoft.Data.OData.dll
/Rightpoint.Peeps.Server/bin/Microsoft.Data.Edm.dll
/Rightpoint.Peeps.Server/bin
/Rightpoint.Peeps.Server
/Rightpoint.Peeps.Client/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rightpoint.Peeps.Client/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rightpoint.Peeps.Client/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rightpoint.Peeps.Client/obj/x86/Debug/Pages/MainPage.g.cs
/Rightpoint.Peeps.Client/obj/x86/Debug/Pages
/Rightpoint.Peeps.Client/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rightpoint.Peeps.Client/obj/x86/Debug/App.g.cs
/Rightpoint.Peeps.Client/obj/x86/Debug
/.vs/config/applicationhost.config
/.vs/config
