<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Rightpoint.Peeps.Client' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- Find more information in the readme in the solution items folder -->
  <InstrumentationKey>instrumentationKey</InstrumentationKey>
</ApplicationInsights>